.wrapper {
  width: 100vw;
  height: 100vh;
}

.page {
  width: 70vw;
  overflow: scroll;
  margin: auto;
  padding: 30px;
}

.header {
  width: 100%;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  font-weight: bold;
}

.header2 {
  width: 100%;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 0px;
  font-weight: bold;
}

.products {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}

.product {
  height: 55vh;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 70% 30%;
  color: black;
}

.info {
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

.price {
  margin: 10px 0px;
}

.amount {
  font-weight: 700;
}

img {
  height: 100%;
  width: 100%;
}

.name {
  font-weight: bold;
}

.float-child.green {
  margin-right: 20px;
}

.footer {
  width: 100%;
  font-size: 1.1rem;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
  font-weight: 600;
}